/* ----------------- Class CSS ----------------- */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&display=swap");

* {
  font-family: "Outfit";
}

:root {
  --accentColor: #1e57a2;
}


#explanationText {
  font-size: 1.1rem;
  display: inline;
}


#tableHeader {
  background-color: var(--accentColor) !important;
  color: white;
  text-align: center;
}


#explanationSection {
  background-color: var(--accentColor);
  width: 80%;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  color: white;
}

#explanationText {
  padding: 20px 0px;
  display: inline;
}

.about {
  width: 400px;
  margin: auto;
}

.stepHeader {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 10px;
}

.authors {
  background-color: white;
}

#aboutMeGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  margin-left: 14%;
  margin-right: 14%;
  margin-top: 5%;
  width: 72%;
  justify-items: center;
  align-items: center;
}

.backgroundText {
  font-size: 1.3em;
  text-align: left;
}

.landingPageImage {
  display: inline;
  border-radius: 20px;
  width: 400px;
  display: relative;
  margin: auto auto;
}

ul {
  list-style-type: square;
  font-weight: 500;
}

.aboutMeCards {
  padding: 10px;
  width: 100% !important;
  display: block;
  border: 2px solid rgb(39, 37, 37);
  border-radius: 20px;
  height: 105%;
  font-size: 1.2em;
  font-weight: 100px !important;
}

.pictures {
  border-radius: 100%;
  width: 20%;
  margin-left: 40%;
  align-self: center;
}
.body {
  background-color: white;
}

.footer {
  background-color: #023e8a;
}

.icon-white {
  /* Arrow icon at bottom of page */
  color: #ffffff;
}

#aboutMeCard {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
}

#aboutMeCardBody {
  text-align: left !important;
  font-size: 1.5em;
}

.nb-background-color {
  /* navbar background color */
  background-color: white;
  border-bottom: 1px solid black;
}

navbar {
  padding: 0px !important;
}

#aboutMeName {
  text-align: center;
}

#scoutLogo {
  width: 35%;
  margin-left: 32.5%;
}

#aboutMe {
  padding: 20px 0px;
  margin-bottom: 150px;
}

.nbMenuItem {
  /* navbar link text properties */
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  color: black !important;
  font-family: "Outfit";
}
.nbMenuItem:last-child {
  margin-right: 20px;
}

.overview {
  background-color: #dbe3e7;
}

.procedureDetails {
  text-align: left;
  margin-left: 1%;
}

#buttonComp {
  color: black !important;
  background-color: black !important;
}
.howto { 
  text-align: left;
}

.ovPadLeft {
  padding-left: 20px;
}

.ovPadRight {
  padding-right: 20px;
}

.procedure {
  background-color: white;
  padding: 1px;
}

/* background-color: #8fa3ab; #0096c7 */

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1.1);
  /*transform-origin: bottom left;*/
}

.stepImage {
  width: 200px !important;
  border-radius: 10px;
  margin: 0 auto;
}


/* .smallerSteps {
    width: 232px !important;
} */




@media (max-width: 1200px) {

    .landingPage {
        font-size: 80%;
    }
  #aboutMeGridContainer {
    grid-template-columns: 1fr;
    gap: 0.5em;
    grid-auto-columns: auto;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    justify-items: center;
  }
  .aboutMeCards {
    height: 100%;
    margin-top: 10%;
    width: 90% !important;

  }
  .pictures {
    justify-items: center;
    align-items: center;
    margin: auto;
    display: grid;
    
  }

  #aboutMeCard {
    width: 90%
  }
}

@media (max-width: 991px) {
    #aboutMeGridContainer {
        grid-template-columns: 1fr;
        gap: 0.5em;
        grid-auto-columns: auto;
        width: 50%;
        align-items: center;
        justify-items: center;
      }
      .pictures {
        justify-items: center;
        align-items: center;
        margin: auto;
        display: grid;

      }

      .backgroundText {
        font-size: 1.4em
      }
      .aboutMeCards {

        width: 150% !important;
      }
    .landingPageImage {
        width:40% !important;
      }
      .landingPage {
        font-size: 50%;
    }
}


@media (max-width: 573px) {
  .backgroundText {
    font-size: 2.5em
  }
  .landingPageImage {
    width: 70% !important;
  }

}