{% extends 'layout.html' %} {% block content %}

<ol style="font-size: 1.5em" id="worksCitedList">
  <li>
    <b
      ><a
        href="https://tenor.com/view/thunder-blue-storm-blast-roll-gif-13914102"
        target="_blank"
        >Link One</a
      ></b
    >
    - Blue Lightning Symbol in the Navbar
  </li>
  <li>
    <b
      ><a
        href="https://www.summitbsa.org/about-us/donors/1200px-boy_scouts_of_america_corporate_trademark-svg/"
        target="_blank"
        >Link Two</a
      ></b
    >
    - Boy Scouts Logo/Author Logo
  </li>
  <li>
    <b
      ><a
        href="https://xclcamps.com/blog/coding-vs-programming-what-is-the-difference-especially-for-kids/"
        target="_blank"
        >Link Three</a
      ></b
    >
    - Coding Logo/Author Logo
  </li>
  <li>
    <b
      ><a
        href="https://www.freepik.com/premium-ai-image/there-are-lot-chess-pieces-that-are-painted-watercolor-generative-ai_55303618.htm/"
        target="_blank"
        >Link Four</a
      ></b
    >
    - Chess Watercolor Logo
  </li>
  <li>
    <b
      ><a
        href="https://thefishsite.com/articles/the-benefits-of-bakers-yeast-extend-beyond-growth-promotion"
        target="_blank"
        >Link Five</a
      ></b
    >
    - Yeast Image
  </li>
  <li>
    <b
      ><a
        href="https://www.preuniversity.org/course/human-and-social-biology/"
        target="_blank"
        >Link Six</a
      ></b
    >
    - Biology Cover Image
  </li>
</ol>
{% endblock %}
